{% extends "template.html" %}

{% block content %}

 <div id="education">
        <div class="container">
            <div class="row rightalign">
                <p id = "experience-title">DEMO</p>
                    <section id="portfolio">
                    <div class="container">
                        <div class="row">
                        </div>

						<div id="demoCon" class="js-masonry">
							<div class="container"></div>
						</div>


                        <!--on hold
                        <div class="js-masonry">-->
                        	<!--after this part, add dynamically
                            <div class="col-sm-4 portfolio-item">
                                <a href="#port1" class="portfolio-link artport" data-toggle="modal">
                                    <div class="caption">
                                        <div class="caption-content">
                                            <h4>Butterfly</h4>
                                        </div>
                                    </div>
                                    <img src="static/img/creases/butterfly.jpg" class="img-responsive" alt="Matterhorn"></img>
                                </a>
                            </div>
                            <div class="col-sm-4 portfolio-item">
                                <a href="#port2" class="portfolio-link artport" data-toggle="modal">
                                    <div class="caption">
                                        <div class="caption-content">
                                            <h4>Turtle</h4>
                                        </div>
                                    </div>
                                    <img src="static/img/creases/turtle.jpg" class="img-responsive" alt="CUAir">
                                </a>
                            </div>
                            <div class="col-sm-4 portfolio-item">
                                <a href="#port3" height="2048" width="1536" class="portfolio-link artport" data-toggle="modal">
                                    <div class="caption">
                                        <div class="caption-content">
                                            <h4>Crane</h4>
                                        </div>
                                    </div>
                                    <img src="static/img/creases/crane.jpg" class="img-responsive" alt="Santorini">
                                </a>
                            </div>-->
                        </div>
                    </div>
                    </section>
            </div>
       </div>
</div>


{% endblock %}

