{% extends "template.html" %}

{% block content %}

<div id="about-sec">
    <div class="container">
        <div class="row leftalign">
          <div class="col-md-6">
             <div class="aniview" data-av-animation="flipInX">
              	<p id = "about">enter thing here</p>
              	<div class="aboutinfo">
                  	<p> ready to send to the 3D printer? </p>
              	</div>
          </div>
          <div class="col-md-6 aniview" data-av-animation="flipInX">
              <img src="static/img/filler.jpg" width="80%" height="80%">
          </div>
      </div>
  </div>
</div>

{% endblock %}
